.editor {
  overflow: hidden;
  text-align: center;
  h3 {
    margin: 20px 0 10px;
  }
  .illustration-editor {
    max-width: 400px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
@media screen and (min-width: 768px) {
  .editor {
    p {
      text-align: left;
    }
  }
}
@media screen and (min-width: 1024px) {
  .editor {
    position: relative;
    text-align: left;
    .illustration-editor {
      max-width: none;
      width: 600px;
      position: absolute;
      top: calc(50% - (376px / 2));
      left: 55%;
    }
    h3 {
      &:first-child {
        margin-top: 30px;
      }
    }
  }
}